body {
    font-family: Arial, sans-serif;
    background-color: #970000a3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #d70d0d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(179, 153, 153, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #d45353;
}

.login-container label {
    display:contents;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #401515;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #b73939;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #123b66;
}

.login-container p {
    margin-top: 15px;
}

.login-container a {
    color: #4483c5;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
