body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    position: relative;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    position: absolute;
    top: 1px;
    left: 10px;
}

.button-container {
    margin-top: 20px;
}

img {
    max-width: 100px;
    height: auto;
}